<!DOCTYPE html>
<html>
  <head>
    <title>CookPro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="/home/top">
        CookPro
        </a>
      </div>
      <ul class="header-menus">
        <a href="/posts">投稿一覧</a>
      </ul>
      <ul class="header-menus">
        <a href="/posts/new">新規投稿</a>
      </ul>
    </ul>
    <ul class="header-menus">
      <a href="/users">ユーザ〜一覧</a>
    </ul>
    <ul class="header-menus">
      <a href="/signup">新規登録</a>
    </ul>
    <ul class="header-menus">
      <a href="/home/about">CookProとは</a>
    </ul>
    </header>
    <%= yield %>
  </body>
</html>
